/**
 *
 * SharePoint ribbon and workspace styles.
 *
 */

// suite bar
#suiteBarDelta {

  // buttons
  button {
    border-radius: 0;
  }

  // buttons: hover
  .ms-bgc-tdr,
  .ms-bgc-tdr-h:hover,
  .ms-bgc-tdr-f:focus,
  .ms-bgColor-themeDarker,
  .ms-bgColor-themeDarker-hover:hover,
  .ms-bgColor-themeDarker-focus:focus {
    background-color: $brand-primary;
  }

  // suite bar background
  #suiteBarLeft,
  .o365cs-base .o365cs-topnavLinkBackground-2,
  .o365cs-base.o365cst.o365spo.o365cs-topnavBGColor-2 {
    background-color: $gray-dark;
  }

  // app launcher
  .o365cs-base.o365cst .ms-bgc-tp,
  .o365cs-base .o365cs-appLauncherBackground {
    background: $brand-primary;
  }

  // suite bar dividers
  .o365cs-nav-header16 .o365cs-nav-pinToTop,
  .o365cs-nav-header16 .o365cs-nav-o365Branding,
  .o365cs-nav-header16 .o365cs-nav-rightAlign .o365cs-nav-button {
    border-left-color: transparentize($gray-superlight, .9);
  }

  .o365cs-nav-header16 .o365cs-nav-appTitleLine {
    background-color: transparentize($gray-superlight, .9);
  }

}

// suite bar and ribbon typography
#suiteBar,
#s4-ribbonrow,
#suiteBarDelta {
  font-family: 'Segoe UI', Arial, sans-serif;
  font-size: 14px;
}

// reset text decoration on suite bar and ribbon links
#suiteBar a,
#s4-ribbonrow a,
#suitebarDelta a {
  text-decoration: none;
}

// page status
#pageStatusBar[class] {
  border: 0;
}

// hide overflow on workspace
#s4-workspace {
  overflow: visible;
}
