.ms-SocialInputButtonHoverInactive{height:100%;padding:0;margin:0;vertical-align:middle;border-style:solid;border-color:transparent}
.ms-SocialInputButtonHoverActive{height:100%;padding:0;margin:0;vertical-align:middle;border-style:solid;border-color:#ccc;background-image:url("/_layouts/15/images/SocialGradientWarm.png?rev=23");background-repeat:repeat-x}
.ms-socialDataFrameContents{font-size:8pt;font-family:verdana;color:#444}
.ms-socialDataFrameContents a:hover{text-decoration:underline}
.ms-socialDataFrameContents a:link,.ms-socialDataFrameContents a:visited{color:#0072c6;text-decoration:none}
div.ms-TagCloud{line-height:1.5;word-wrap:break-word;overflow:hidden}
.ms-TagCloud .spacer{margin-right:1em}
.ms-TagCloud .rank1{font-size:100%}
.ms-TagCloud .rank2{font-size:125%}
.ms-TagCloud .rank3{font-size:150%}
.ms-TagCloud .rank4{font-size:175%}
.ms-TagCloud .rank5{font-size:200%}
.ms-TagCloud .rank6{font-size:225%}
.ms-TagCloud .rank7{font-size:250%}
.ms-TagCloud .rank8{font-size:275%}
.ms-TagCloud .rank9{font-size:300%}
.ms-socialCommentContents{width:100%}
.ms-socialCommentEdit{background-color:#fff}
.ms-socialCommentEdit .socialcomment-editbox{width:100%;border:thin inset;overflow-y:auto}
.ms-socialCommentLoading{text-align:right}
.ms-socialCommentItem{width:100%}
.ms-socialCommentItem .socialcomment-top{vertical-align:top;padding-top:0}
.ms-socialCommentItem .socialcomment-bottom{padding-bottom:24px}
.ms-socialCommentItem .socialcomment-pagecount{vertical-align:top;padding:0 0 10px}
.ms-socialCommentPaging{width:100%;padding-bottom:7px}
.ms-socialCommentPaging .socialcomment-pagelink{vertical-align:top;padding:3px 3px}
.ms-socialCommentPaging .socialcomment-pagelink[disabled]{text-decoration:none;color:inherit}
.ms-socialCommentItem .socialcomment-image{vertical-align:top;width:32px;height:32px;margin-top:1px;border:0}
.ms-socialCommentItem .socialcomment-image img{text-align:center;padding:2px;border:1px solid #bfbfbf}
.ms-socialCommentItem .socialcomment-IMPawn{vertical-align:top;width:12px;height:12px;margin:0;padding:1px 0;border:0}
.ms-socialCommentItem .socialcomment-username a{text-align:left}
.ms-socialCommentItem .socialcomment-contents{width:100%;word-wrap:break-word;overflow:hidden}
.ms-socialCommentItem .socialcomment-contents-TRC{color:#676767;width:505px;word-wrap:break-word;overflow:hidden}
.ms-socialCommentItem .socialcomment-time{text-align:left;padding-left:5px}
.ms-socialCommentItem .socialcomment-cmdlink{text-align:right}
.ms-socialCommentItem .separator{color:#d9d9d9;border-width:0}
.ms-socialContextFrame{border-color:#f2f2f2;border-style:solid;border-width:1px}
.ms-socialContextHeader{border-color:#f2f2f2;border-style:solid;border-width:0 0 1px 0;height:20px;background-color:#f8f8f8;padding-left:10px;font-size:8pt;font-family:Tahoma,Verdana,Helvetica,sans-serif}
.ms-socialContextSearchFooter{border-color:#f2f2f2;border-style:solid;border-width:2px 0 0 0;padding:5px}
.ms-socialContextSingleItem{padding-top:5px;padding-bottom:5px}
.ms-socialContextSingleItem span{text-align:center;width:30px;padding-left:6px;padding-right:6px}
.ms-socialContextSingleItem img{vertical-align:middle}
.ms-socialThoughtHeader{clear:both;width:100%;font-family:Tahoma,Verdana,Helvetica,sans-serif}
.ms-socialThoughtHeader .ms-socialThoughtHeaderTitle{font-size:12pt;color:#fd8003;font-weight:bold}
.ms-socialThoughtHeader img{vertical-align:middle}
.ms-socialThoughtLeftHeader{font-family:Tahoma,Verdana,Helvetica,sans-serif;float:left}
.ms-socialThoughtModeLink{font-size:8pt;padding-left:10px}
.ms-socialThoughtPageLink{font-size:8pt;float:right}
.ms-socialThoughtPageLink img{vertical-align:middle;cursor:pointer}
.ms-socialThoughtNavigation{padding:0 5px;color:#8e8e90}
.ms-SocialThoughtContent{width:100%;clear:both;font-family:Tahoma,Verdana,Helvetica,sans-serif;font-size:8pt;margin:5px 0 10px 0}
.ms-socialThoughtContentLeft{clear:both;float:left;word-break:break-all}
.ms-socialThoughtContentRight{text-align:right;float:right;vertical-align:middle;word-break:break-word}
.ms-socialThoughtComment{color:#8e8e90;font-style:oblique}
.ms-socialThoughtBoxParent{width:350px;padding-right:24px;float:left}
.ms-socialThoughtBoxParent2{width:557px;float:right}
.ms-socialThoughtBoxMonth{padding-bottom:10px}
.ms-socialThoughtBoxView{padding-bottom:30px}
.ms-socialThoughtBoxTags{padding-bottom:30px;line-height:1.5;width:350px}
.ms-socialThoughtBoxTitle{color:#003759;font-size:1.3em;padding-bottom:10px}
.ms-socialThoughtView .viewdefault{color:#676767}
.ms-socialThoughtView .viewselect{color:#0072bc}
.ms-socialThoughtView a:hover{color:#0072bc}
.ms-socialThoughtActivitiesTitle{color:#003759;font-size:1.3em}
.ms-socialThoughtActivities .month{display:inline-block;color:#003759;width:124px;text-align:center;font-size:1.3em}
.ms-socialThoughtActivities .tag{color:#0072bc;font-size:1.3em}
.ms-socialThoughtItems .itembox{border-bottom:1px dashed #bfbfbf;padding-top:12px;padding-bottom:12px}
.ms-socialThoughtItems .commentbox{padding:4px 32px;word-wrap:break-word}
.ms-socialThoughtItems .viewactivities{padding-left:20px;color:#003759}
.ms-socialThoughtItems .private{padding-left:24px;color:#003759}
.ms-socialThoughtItems .delete{padding-left:24px;color:#003759}
.ms-socialThoughtItems .selectedtag{color:#fff;background-color:#0072bc}
.ms-socialThoughtItems .loading{text-align:center;padding-top:100px}
.ms-socialThoughtItems a:hover{color:#0072bc}
.ms-socialThoughtBoxTagsSort{padding-bottom:10px}
span.ms-socialThoughtSortTitle{color:#000}
.ms-socialThoughtTagsSort .sortselect{color:#0072bc}
.ms-socialThoughtTagsSort .sortdefault{color:#676767}
.ms-socialThoughtTagsSort a:hover{color:#0072bc}
a.ms-socialThoughtTagSelect:link{color:#fff;background-color:#0072bc}
a.ms-socialThoughtTagDefault:link{color:#3f3f3f}
.ms-socialRecommendedTags{border-color:#e8e8e9;border-style:solid;border-width:1px;max-width:100%}
.ms-socialItems{padding:10px}
.ms-socialStandardheader{font-size:10pt;font-family:verdana;padding-bottom:10px;text-align:left;color:#202122}
.ms-socialTagInputBox{width:100%;min-height:28px;border-style:inset;border-width:1px;background-color:#fff;background-color:rgba(255,255,255,0.85)}
.ms-socialTagPrivateCheckBox{font-size:11px;font-family:verdana;text-align:left}
.ms-socialTagSaveButton{text-align:right}
.ms-socialCommentInputBox{word-wrap:break-word;word-break:keep-all;white-space:normal;min-height:16px;border:thin inset;background-color:#fff;background-color:rgba(255,255,255,0.85)}
.ms-socialCommentInputBoxBorder{border-color:#b2b2b2;border-style:solid;border-width:1px}
.ms-socialDataRibbonContents{font-size:11px;font-family:verdana}
.ms-socialWPSeparatorTop{Width:100%;padding-bottom:10px;border-bottom:1px dashed #b6babf}
.ms-socialWPSeparatorBottom{Width:100%;padding-bottom:10px}
.ms-socialTagInformationLabel{padding-top:20px;padding-bottom:3px;color:#000}
.ms-socialTagInformationDescription{padding-top:10px}
div.ms-taggedItemsView{padding-top:10px;padding-bottom:5px}
div.ms-taggedItemsView span.view{color:#000}
div.ms-taggedItemsView a.default{color:#676767}
div.ms-taggedItemsView a.select{color:#0072bc}
div.ms-taggedItemsView a:hover{color:#0072bc;text-decoration:underline}
.ms-taggedItems .itemTbl{width:100%;padding-top:14px;padding-bottom:14px;border:0;cellspacing:0;cellpadding;0}
.ms-taggedItems .lineArea{height:1.5em}
.ms-taggedItems td.iconArea{width:42px}
.ms-taggedItems img.itemIcon{vertical-align:middle;width:32px;height:32px}
.ms-taggedItems img.itemIconSub{vertical-align:middle;padding-right:6px;width:16px;height:16px}
.ms-taggedItems table:hover{background-color:#f2f2f2}
.ms-taggedItems .separator{Width:100%;border-bottom:1px dashed #ccc}
.ms-taggedItems .seeAll{padding-top:10px}
div.ms-taggedItems a.itemTitle{color:#3f3f3f}
div.ms-taggedItems a.relTag{color:#0072bc}
div.ms-taggedItems a.relTag:hover{color:#0068ac}
div.ms-taggedItems a.people{color:#0072bc}
div.ms-taggedItems a.people:hover{color:#0068ac}
.ms-socialTagInfoPanel{background:#f8fcff;border:solid 1px #91cdf2;padding:10px}
.ms-socialTagInfoTitle{font-size:1.4em}
.ms-socialTagInfoTitle span{color:#0072bc}
.ms-socialTagInfoRelatedInfo{padding-left:20px}
.ms-socialGetConnectedTermAdder{margin-top:5px}
.ms-socialGetConnectedTermAdder a{font-size:1.3em;margin-left:6px}
.ms-socialGetConnectedTermAdder span{font-size:1.3em;margin-left:6px}
.ms-socialGetConnectedPeopleSearch{margin-top:5px}
.ms-socialGetConnectedPeopleSearch img{vertical-align:middle}
.ms-socialGetConnectedPeopleSearch a{margin-left:6px}
.ms-socialDialogTab{height:22px;min-height:22px !important}
.ms-socialDialogTab ul{margin-left:8px;margin-right:8px;float:none}
.ms-socialDialogTab span{padding-top:2px}
.ms-socialDialogTabTopBar{height:24px}
.ms-currentRating{text-align:right;white-space:nowrap;position:relative;overflow:hidden;width:80px;height:16px;display:inline-block}
.ms-currentRating img{position:absolute;margin:0;padding:0;width:auto;height:auto;border:0}
.ms-submitRating{white-space:nowrap;display:none}
.ms-rate1star img,.ms-rate2stars img,.ms-rate3stars img,.ms-rate4stars img,.ms-rate5stars{position:static !important}
.ms-rating_5_new{top:0;left:0}
.ms-rating_4_new{top:0;left:-16px}
.ms-rating_3_new{top:0;left:-32px}
.ms-rating_2_new{top:0;left:-48px}
.ms-rating_1_new{top:0;left:-64px}
.ms-rating_0{top:0;left:-80px}
.ms-rating_5{top:0;left:-160px}
.ms-rating_4{top:0;left:-176px}
.ms-rating_3{top:0;left:-192px}
.ms-rating_2{top:0;left:-208px}
.ms-rating_1{top:0;left:-224px}
.ms-rating_4_5{top:0;left:-304px}
.ms-rating_3_5{top:0;left:-320px}
.ms-rating_2_5{top:0;left:-336px}
.ms-rating_1_5{top:0;left:-352px}
.ms-rating_0_5{top:0;left:-368px}
.ms-ratingPopup{background-color:#f1f1f1;border:solid 1px #909090;border-top:solid 1px #acb0b5;border-left:solid 1px #acb0b5;padding:.3em;font-family:Verdana,Arial,sans-serif;font-size:8pt;color:#333}
