#idStorefrontLayoutRoot{line-height:1.5}
#idStorefrontLayoutRoot input[type=button],#idStorefrontLayoutRoot button[type=button]{margin:0;cursor:pointer}
.ms-storefront-titleimagespan{height:96px;width:96px}
.ms-storefront-titleimage{position:absolute;left:-5px;top:-5px}
.ms-storefront-layoutroot{width:980px;margin:0 auto;padding:0 20px}
.ms-storefront-topborder{height:8px;width:100%;background-color:gray}
.ms-storefront-view{padding:16px 0 0}
.ms-storefront-viewsmall{width:736px}
.ms-storefront-hugview{width:560px;margin:0 auto}
.ms-storefront-promoted{width:630px;margin:0 0 30px 0}
.ms-storefront-promoted table{border-collapse:collapse;border-spacing:0}
.ms-storefront-gallerynoresults{margin:34px 0 0}
ul.ms-storefront-list{margin:0;padding:0}
li.ms-storefront-listitem{float:left;list-style-type:none;position:relative}
li.ms-storefront-textlistitem{margin:0 20px 0 0;cursor:pointer}
li.ms-storefront-divider{margin:0 0 0 20px}
.ms-storefront-rootcontrols{width:712px;margin:0 0 30px 0;padding:0;display:table}
ul.ms-storefront-pagelist{margin:0 30px 0 0}
li.ms-storefront-pageitem{margin:0 0 0 18px}
.ms-storefront-pageitemseparator{margin:9px 0 0;width:2px;height:9px;background-color:#777}
li.ms-storefront-leftpaneitem{cursor:pointer;width:100%;color:#666}
ul.ms-storefront-leftpanelist{margin:0 0 0 -20px;padding:0 30px 0 0;width:217px;overflow:hidden}
ul.ms-storefront-sortlist{margin:0 0 18px 0;overflow:hidden}
.ms-storefront-applist{width:712px}
.ms-storefront-appicon{width:150px;margin:0 10px 10px 0;cursor:pointer;overflow:hidden;height:14.04em;outline-style:none}
.ms-storefront-appiconpreview{position:absolute;z-index:1000;width:100%;max-height:75px}
.ms-storefront-applink a{height:14.04em}
.ms-storefront-galleryappiconspan{margin:1px}
.ms-storefront-myappicondiv{margin:0 0 2px}
.ms-storefront-appiconvotes{font-size:.92em}
.ms-storefront-appiconprice{color:#777}
.ms-storefront-appiconpriceorig{color:#b1b1b1;text-decoration:line-through}
.ms-storefront-appiconpricepromo{color:#444}
.ms-storefront-myappicon{width:160px;margin:0 24px 10px 0;overflow:hidden;height:14.76em}
.ms-storefront-myappicontop{height:7.21em}
.ms-storefront-myappicontext{max-height:3em;font-weight:600}
.ms-storefront-myappicontext:hover{text-decoration:underline}
.ms-storefront-myappiconprov{max-height:3em}
.ms-storefront-myappiconmsg{padding:0 5px}
.ms-storefront-appdetailstitlediv{display:table;margin:24px 0 24px}
.ms-storefront-appdetailpermissionsstring{margin-left:-1px}
.ms-storefront-appdetailstitle{margin:0 0 0 24px;max-width:640px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;-o-text-overflow:ellipsis}
.ms-storefront-appdetailsmain{width:512px;margin:0 32px 60px 0}
.ms-storefront-appdetailstable{margin:32px 0 24px -1px}
.ms-storefront-appdetailscell{padding:1px 15px 1px 0;font-size:.85em}
.ms-storefront-appdetailsstarscell{padding:2px 15px 2px 0}
.ms-storefront-appdetailssection{text-transform:uppercase;margin:0 0 10px 0}
.ms-storefront-appdetailstrialdiv{margin:14px 0 0}
.ms-storefront-appdetailstrialmsg{vertical-align:middle;margin:0 0 0 10px}
.ms-storefront-appdetailsseatsboxlabel{margin:0 8px 0 0;vertical-align:text-top}
.ms-storefront-appdetailsseatsboxrefresh{margin:0 0 0 6px}
.ms-storefront-appdetailsseatsboxrefreshimg{vertical-align:text-top;cursor:pointer}
.ms-storefront-appdetailsprice{font-weight:600;width:100%}
.ms-storefront-appdetailspriceorig{color:#b1b1b1;text-decoration:line-through}
.ms-storefront-appdetailspromo{position:relative;top:-10px;margin:0 0 10px 0}
.ms-storefront-appdetailsseatsbox{width:32px;margin:0 0 6px}
.ms-storefront-appdetailsseatserror{margin:0 0 8px}
ul.ms-storefront-appdetailsadditionallist{margin:0 0 10px 0;overflow:hidden}
.ms-storefront-appdetailsrightpane{width:396px;position:relative;top:-5px}
.ms-storefront-appdetailsmsgpane{margin:10px 0 6px}
.ms-storefront-appdetailsfilmstrip{margin:0 0 32px}
.ms-storefront-mngsubtitle{margin:0 0 8px;display:table}
.ms-storefront-mngsubdesc{margin:0 0 16px;width:420px}
ul.ms-storefront-mngsortlist{display:table-cell;padding:0 0 2px 20px;vertical-align:bottom}
.ms-storefront-mngnoresults{display:table;margin:96px auto 0;text-align:center}
.ms-storefront-mngnoresultstitle{margin:0 0 8px 0}
.ms-storefront-link a:visited{color:#0072c6;text-decoration:none}
.ms-storefront-searchbox{float:none;margin-top:24px;padding-bottom:2px}
.ms-storefront-fivestarspan{height:16px;width:80px;position:relative;padding:2px 4px 2px 0}
.ms-storefront-fivestaremptyspan{height:16px;width:80px}
.ms-storefront-fivestaremptyimg{position:absolute;left:-5px;top:-111px}
.ms-storefront-fivestarfilledspan{height:16px;width:80px}
.ms-storefront-fivestarfilledimg{position:absolute;left:-95px;top:-111px}
.ms-storefront-filmstripmain{width:512px;height:384px;margin:0 0 16px}
.ms-storefront-filmstripbase{border-color:#c6c6c6;background-color:#f1f1f1}
.ms-core-needIEFilter .ms-storefront-filmstripbase{background-color:transparent;-ms-filter:"progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#d8ffffff,endColorstr=#d8ffffff)"}
.ms-storefront-filmstripselect,.ms-storefront-filmstriphighlight:hover{border-color:#0067b0}
.ms-storefront-filmstripthumb{height:66px;width:88px}
.ms-storefront-filmstriplist{overflow-x:auto;overflow-y:hidden;width:530px}
.ms-storefront-filmstripitem{margin:0 16px 0 0}
.ms-storefront-filmstripvideoimg{position:absolute;left:-5px;top:-137px}
.ms-storefront-filmstripvideoimgdiv{left:8px;top:6px;height:41px;width:55px;position:relative;overflow:hidden}
.ms-storefront-loadingmain{position:absolute;cursor:default;background-color:#fff;border-collapse:separate;padding:20px;margin-top:70px;z-index:3000}
.ms-storefront-reviewmain{margin:0 0 24px 0}
.ms-storefront-ratespan{height:22px;width:25px;margin:0 10px 15px 0}
.ms-storefront-rateimg{position:absolute;left:-70px;top:-137px}
li.ms-storefront-reviewsort{margin:0 20px 0 0;color:#666}
ul.ms-storefront-reviewsortlist{margin:0 0 10px 0;overflow:hidden}
.ms-storefront-reviewtitlediv{display:table}
.ms-storefront-reviewstars{display:table-cell;padding:0 10px 0 0}
.ms-storefront-reviewtitle{display:table-cell}
.ms-storefront-reviewpublisher{margin:4px 0 3px}
.ms-storefront-reviewnoresults{margin:64px 0 0}
.ms-storefront-arrowspan{height:3px;width:5px;margin:1px 2px 2px 4px}
.ms-storefront-arrowimg{position:absolute;left:-0;top:-427px}
.ms-storefront-arrowgrayspan{height:4px;width:7px;margin:1px 1px 1px 3px}
.ms-storefront-arrowgrayimg{position:absolute;left:-0;top:-262px}
.ms-storefront-arrowdarkspan{height:4px;width:7px;margin:1px 1px 1px 3px}
.ms-storefront-arrowdarkimg{position:absolute;left:-0;top:-266px}
.ms-storefront-dropdowntitle{color:#666}
.ms-storefront-marketdropdown{margin:0 0 0 14px}
.ms-storefront-sortdropdown{margin:0 0 0 4px}
.ms-storefront-licensedropdown{margin:0 0 6px;padding:3px 5px 4px;display:table;background-color:#f1f1f1}
.ms-storefront-moreactionsdropdown{margin:24px 0 0}
.ms-storefront-hugtitlearea{margin:24px 0 20px}
.ms-storefront-hugmainmsg{line-height:normal;padding:0 0 0 20px;vertical-align:middle;position:relative;top:-6px}
.ms-storefront-hugloadingimg{padding:0 6px}
.ms-storefront-huglabels{margin:0 0 20px}
.ms-storefront-hugdiv{max-width:450px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;-o-text-overflow:ellipsis}
.ms-storefront-errormain{margin:56px auto 16px;max-width:640px}
.ms-storefront-carouseltitle{margin:0 0 16px}
.ms-storefront-carouselarrow{margin:0 88px 0 0}
.ms-storefront-gallerynotification{margin-bottom:48px;display:table}
.ms-storefront-detailsnotification{width:313px}
.ms-storefront-notificationdiv{padding:5px 8px}
.ms-storefront-notificationlist{margin:8px 0 0}
.ms-storefront-notificationlistitem{margin:0 0 4px}
.ms-storefront-notificationtext{color:#444}
.ms-storefront-centertextouter{display:table;width:100%}
.ms-storefront-centertextinner{display:table-cell;text-align:center}
.ms-storefront-innerpagingtext{position:relative;top:-3px}
.ms-storefront-mainbutton{padding-left:20px;padding-right:20px}
.ms-storefront-paging{display:table;margin:0 auto 24px}
.ms-storefront-pagingarrow{vertical-align:text-bottom}
.ms-storefront-semitransparent{opacity:.5}
.ms-core-needIEFilter .ms-storefront-semitransparent{filter:alpha(opacity=50);-ms-filter:"alpha(opacity=50)"}
a.ms-storefront-selectanchor{display:block}
.ms-storefront-highlight a.ms-storefront-selectanchor{color:inherit}
.ms-storefront-error{color:#bf0000}
input[type=text].ms-storefront-seatserrorborder{border-color:#bf0000}
.ms-storefront-middle{display:table-cell;vertical-align:middle}
.ms-storefront-floatopposite{float:right}
.ms-storefront-float{float:left}
.ms-storefront-clear{clear:both}
.ms-storefront-overflowauto{overflow:auto}
.ms-storefront-fullsize{width:100%;height:100%}
.ms-storefront-rightbottom24{margin:0 24px 24px 0}
li.ms-storefront-selected{color:#0072c6}
#idStorefrontLayoutRoot .ms-storefront-disabledlink{cursor:default;color:#b1b1b1}
#idStorefrontLayoutRoot .ms-storefront-disabledlink:hover{color:#b1b1b1}
#idStorefrontLayoutRoot .ms-webpart-titleText.ms-webpart-titleText{padding:0}
.ms-storefront-wordwrap{white-space:pre-wrap;white-space:-moz-pre-wrap;white-space:-pre-wrap;white-space:-o-pre-wrap;word-wrap:break-word;overflow:hidden}
.ms-storefront-searchboxclearspan,.ms-storefront-searchboxspan,.ms-storefront-appdetailstitleimgspan,.ms-storefront-titleimagespan,.ms-storefront-ratespan,.ms-storefront-arrowdarkspan,.ms-storefront-arrowspan,.ms-storefront-arrowgrayspan{position:relative;display:inline-block;overflow:hidden}
.ms-storefront-fivestarfilledspan,.ms-storefront-fivestaremptyspan{position:absolute;display:inline-block;overflow:hidden}
.ms-storefront-searchbox input{font-size:.9em}
.ms-storefront-revertcolor{color:inherit}
a.ms-storefront-appicontext{height:auto;max-height:3em}
a.ms-storefront-appicontext:focus{text-decoration:underline;outline-style:none}
