#aShowHideMoreOptionsText{display:inline-block;vertical-align:middle}
.ms-aclInv-emailOptions-heading{padding-top:5px}
.ms-userAccess{margin:0 auto 1px}
.ms-aclinv-simplified-roles{margin:0}
.ms-aclinv-simplified-roles-container{padding-left:10px}
.ms-aclinv-label{margin-left:6px !important}
