.slm-layout-main{overflow:hidden;width:100%;padding:0;margin:0;border:0}
.slm-edit-ecb{float:left;width:40px;clear:both}
.slm-edit-ecb div{vertical-align:middle;padding:2px 0 0 2px}
.slm-edit-link{vertical-align:top;padding:1px 0 0 1px}
.slm-display-link{vertical-align:top;padding:0}
.presence-status-icon{float:left;padding-top:1px;padding-right:5px;padding-left:0;height:12px;width:12px}
.wp-content{margin-bottom:6px;margin-top:6px;margin-left:4px;margin-right:0}
.cbq-layout-main{width:100%;padding:0;margin:0;border:0}
.toc-layout-main{width:100%;padding:0;margin:0;border:0}
.dfwp-list{list-style:none;margin:0;padding:0;clear:both}
.dfwp-column{float:left}
.item{clear:both}
.slm-dragdrop-source .item{clear:none}
.slm-dragdrop-source .groupheader{clear:none}
.centered{text-align:center}
.image-area-left{float:left;padding-right:5px;padding-left:0}
.image-area-right{float:right;padding-left:5px;padding-right:0;vertical-align:top}
.image-area-top{padding-bottom:5px}
.image{border:0}
.image-fixed-width{border:0;width:90px}
.bullet{border-style:none;border-color:inherit;border-width:0;vertical-align:top;background-image:url("/_layouts/images/lstbulet.gif");background-repeat:no-repeat;background-position:left;padding-left:10px;padding-right:0}
.groupheader{text-align:left;font-weight:bold;clear:both}
.band{background-color:#e4e8f0;padding:2px 0 2px 3px}
.centered{text-align:center}
.separator{border:1px #333 solid;clear:both}
.whitespace{margin:0;padding:0 0 10px 0;clear:both}
.level-band{background-color:#e4e8f0;padding:2px 0 2px 3px;margin-right:3px;margin-left:0}
.level-section{clear:both}
.level-section>ul>li{margin-left:2em;margin-right:2em}
.level-bullet{border-style:none;border-color:inherit;border-width:0;vertical-align:top;background-image:url("/_layouts/images/lstbulet.gif");background-repeat:no-repeat;background-position:left;padding-left:10px;padding-right:0}
.level-separator{min-width:20px;vertical-align:middle;text-align:center;font-size:larger;line-height:2em}
.headertitle{font-weight:bold}
.cqfeed{text-align:right}
.ms-slDlg-BodyContainer{width:100%;height:100%}
.ms-slDlg-FieldLabel{padding-top:10px;padding-bottom:2px}
.ms-slDlg-IndentedFieldLabel{padding-left:10px;padding-top:5px;padding-bottom:2px}
.ms-slDlg-FieldDescription{color:gray}
.ms-slDlg-BrowseButton{margin-left:10px;margin-right:5px}
.ms-slLinkDlg-InputField{width:275px}
.ms-slLinkDlg-FirstPanel{text-align:left;padding-top:10px;padding-left:50px;padding-right:20px}
.ms-slLinkDlg-Panel{text-align:left;padding-top:0;padding-left:50px;padding-right:20px}
.ms-slLinkDlg-PeoplePanel{text-align:left;background-color:#d6e8ff;padding-top:0;padding-left:50px;padding-bottom:10px;padding-right:20px;margin-top:5px}
.ms-slDlg-ActionText{padding-left:5px}
.ms-slGroupDlg-InputField{width:362px}
.ms-slGroupDlg-Panel{text-align:left;padding-top:5px;padding-left:50px;padding-right:20px}
.ms-slViewDlg-InputField{width:362px}
.ms-slViewDlg-Panel{text-align:left;padding-top:5px;padding-left:50px;padding-right:20px}
.ms-slViewDlg-FirstPanel{text-align:left;padding-top:20px;padding-left:50px;padding-right:20px}
.ms-slSortDlg-Panel{text-align:left;padding-top:0;padding-left:0;padding-right:0}
.listItem div.callOut a{color:#fff}
.title-With-Background{background-color:#83b0ec;margin-top:5px;padding:4px}
div.title-With-Background a,div.title-With-Background a:link,div.title-With-Background a:hover,div.title-With-Background a:visited,div.title-With-Background a:active{font-size:12pt;color:#fff}
img.media-preview{border:0}
span.media-title{display:block}
.mediaPlayerContainer{position:relative;float:left;background-color:#000;cursor:default !important}
.mediaPlayerVideoObject{vertical-align:bottom}
.mediaPlayerTitleOverlay{position:absolute;top:0;left:0;z-index:1;height:20px;background-color:#505050;opacity:.7;width:100%}
.mediaPlayerTitleOverlay,.mediaPlayerTitleOverlay a{color:#fff}
.mediaPlayerFullScreenEsc{display:none;position:absolute;z-index:1003;left:40%;top:50%;padding:.5em;text-align:center;color:#ff0;background-color:#505050;opacity:.9;border-radius:10px;-webkit-border-radius:10px;-moz-border-radius:10px}
.mediaPlayerLoadingIndicator{display:block;position:absolute;z-index:1;left:50%;top:50%;border:0}
div.mediaPlayerInitialPlayButton{position:absolute;bottom:15px;right:15px;width:47px;height:47px;background-color:rgba(0,0,0,0.6);border:3.5px solid #fff;border-radius:28px}
div.mediaPlayerInitialPlayButton:hover{background-color:#000}
div.mediaPlayerInitialPlayButton a span{display:block;border-bottom:11px solid transparent;border-left:16px solid #fff;border-top:11px solid transparent;margin-top:12px;margin-left:19px}
ul.mediaPlayerAdditionalControls{position:absolute;top:15px;right:15px;z-index:1;list-style-type:none;list-style-position:outside;list-style-image:none}
ul.mediaPlayerAdditionalControls li a img{border:0}
ul.mediaPlayerEncodingMenu{position:absolute;bottom:1px;right:3em;z-index:2;width:8em;padding:2px;list-style-type:none;list-style-position:outside;list-style-image:none;opacity:.85;background-color:#505050;color:#fff;border-radius:5px}
ul.mediaPlayerEncodingMenu li{width:8em;overflow:hidden;white-space:nowrap;text-overflow:ellipsis}
ul.mediaPlayerEncodingMenu li:hover{color:maroon}
ul.mediaPlayerEncodingMenu li a:link,ul.mediaPlayerEncodingMenu li a:visited{color:inherit;text-decoration:none}
.mediaPlayerEncodingMenu-active{color:#ff0}
.mediaPlayerFullScreen.mediaPlayerContainer{position:fixed;width:100%;height:100%;z-index:1000;top:0;bottom:0;left:0;right:0;overflow:hidden}
.mediaPlayerFullScreen.mediaPlayerContainer video{position:absolute;width:100%;height:100%;z-index:1001;left:0;top:0;overflow:hidden}
.mediaPlayerFullScreen.mediaPlayerContainer ul.mediaPlayerAdditionalControls,.mediaPlayerFullScreen.mediaPlayerContainer .mediaPlayerTitleOverlay,.mediaPlayerFullScreen.mediaPlayerContainer div.mediaPlayerInitialPlayButton,.mediaPlayerFullScreen.mediaPlayerLoadingIndicator{z-index:1002}
div#ECM_Shared_MediaPlayer_Background{position:fixed;width:100%;height:100%;top:0;left:0;z-index:500;opacity:.33;background-color:#000}
.mediaPlayerOverlay.mediaPlayerContainer{position:fixed;width:70%;height:70%;z-index:500;left:15%;top:15%;overflow:hidden}
.mediaPlayerOverlay.mediaPlayerContainer video{position:absolute;width:100%;height:100%;z-index:501;overflow:hidden}
.mediaPlayerOverlay.mediaPlayerContainer ul.mediaPlayerAdditionalControls,.mediaPlayerOverlay.mediaPlayerContainer .mediaPlayerTitleOverlay,.mediaPlayerOverlay.mediaPlayerContainer .mediaPlayerLoadingIndicator{z-index:502}
.mediaPlayerDisabledControl,.mediaPlayerControl{margin-bottom:5px}
.mediaPlayerControl{background-color:#666;height:32px}
.mediaPlayerControl:hover{background-color:rgba(156,206,240,0.5)}
.mediaPlayerDisabledControl{background-color:#b1b1b1}
.ms-select{float:left;margin-right:2em}
.ms-select h2,.ms-select li{cursor:pointer}
.ms-select h2:hover,.ms-select li:hover,a.ms-accentText2:hover{color:#b95f00}
.ms-select h2 img{margin-left:.3em}
.ms-select ul{overflow:hidden;list-style-type:none;margin:0;padding:0;background-color:#fff;background-color:rgba(255,255,255,0.7);box-shadow:-4px 2px 12px rgba(0,0,0,0.21);-moz-box-shadow:-4px 2px 12px rgba(0,0,0,0.21);-webkit-box-shadow:-4px 2px 12px rgba(0,0,0,0.21)}
.ms-select li{margin:.7em .7em .7em .7em}
