.ms-reusableTextView{background-color:#e0e0e0;opacity:.55;filter:alpha(opacity=55);-moz-opacity:.55;border:1px solid #000;display:inline-block}
.ms-rteLanguage-ar{-ms-name:"Arabic";}
.ms-rteLanguage-eu{-ms-name:"Basque";}
.ms-rteLanguage-bg{-ms-name:"Bulgarian";}
.ms-rteLanguage-ca{-ms-name:"Catalan";}
.ms-rteLanguage-zh-HanS{-ms-name:"Chinese Simplified";}
.ms-rteLanguage-zh-HanT{-ms-name:"Chinese Traditional";}
.ms-rteLanguage-hr{-ms-name:"Croatian";}
.ms-rteLanguage-cs{-ms-name:"Czech";}
.ms-rteLanguage-da{-ms-name:"Danish";}
.ms-rteLanguage-nl{-ms-name:"Dutch";}
.ms-rteLanguage-en{-ms-name:"English";}
.ms-rteLanguage-et{-ms-name:"Estonian";}
.ms-rteLanguage-fi{-ms-name:"Finnish";}
.ms-rteLanguage-fr{-ms-name:"French";}
.ms-rteLanguage-gl{-ms-name:"Galician";}
.ms-rteLanguage-de{-ms-name:"German";}
.ms-rteLanguage-el{-ms-name:"Greek";}
.ms-rteLanguage-he{-ms-name:"Hebrew";}
.ms-rteLanguage-hi{-ms-name:"Hindi";}
.ms-rteLanguage-hu{-ms-name:"Hungarian";}
.ms-rteLanguage-ga{-ms-name:"Irish";}
.ms-rteLanguage-it{-ms-name:"Italian";}
.ms-rteLanguage-ja{-ms-name:"Japanese";}
.ms-rteLanguage-kk{-ms-name:"Kazakh";}
.ms-rteLanguage-ko{-ms-name:"Korean";}
.ms-rteLanguage-lv{-ms-name:"Latvian";}
.ms-rteLanguage-lt{-ms-name:"Lithuanian";}
.ms-rteLanguage-mk{-ms-name:"Macedonian FYRO";}
.ms-rteLanguage-ms{-ms-name:"Malay";}
.ms-rteLanguage-no{-ms-name:"Norwegian";}
.ms-rteLanguage-pl{-ms-name:"Polish";}
.ms-rteLanguage-pt-PT{-ms-name:"Portuguese Portugal";}
.ms-rteLanguage-pt-BR{-ms-name:"Portuguese Brazil";}
.ms-rteLanguage-ro{-ms-name:"Romanian";}
.ms-rteLanguage-ru{-ms-name:"Russian";}
.ms-rteLanguage-sr-Latn{-ms-name:"Serbian Latin";}
.ms-rteLanguage-sr-Cyrl{-ms-name:"Serbian Cyrillic";}
.ms-rteLanguage-sk{-ms-name:"Slovak";}
.ms-rteLanguage-sl{-ms-name:"Slovenian";}
.ms-rteLanguage-es{-ms-name:"Spanish";}
.ms-rteLanguage-sv{-ms-name:"Swedish";}
.ms-rteLanguage-th{-ms-name:"Thai";}
.ms-rteLanguage-tr{-ms-name:"Turkish";}
.ms-rteLanguage-uk{-ms-name:"Ukrainian";}
.ms-rteLanguage-vi{-ms-name:"Vietnamese";}
.ms-rteLanguage-cy{-ms-name:"Welsh";}
.edit-mode-panel{display:table;border:1px #ccc solid;padding-top:2px;background-color:#eee;color:#666;margin-left:4px}
.edit-mode-panel.roll-up{margin:0 auto}
.article-content,.welcome-content{zoom:1}
.article .related-links,.article .captioned-image,.welcome .welcome-image{border:#ccc 1px solid;background:#fff;margin:4px}
.article-header .by-line{float:left}
.article .related-links{min-width:190px;width:190px}
input.ms-long{width:250px}
.ms-formfieldlabelcontainer{margin:4px 4px 0 4px;font-family:tahoma;font-size:8pt;font-weight:normal;text-align:left;color:#777}
.ms-formfieldlabelcontainer .ms-formfieldlabel{padding:1px 4px 1px 4px;border-top:1px solid #ccc;border-left:1px solid #ccc;border-right:1px solid #ccc;background-image:url("/_layouts/15/images/globgrad.gif?rev=23");background-repeat:repeat-x;background-color:#efebef;height:18px}
.ms-formfieldvaluecontainer{border:1px solid #ccc;margin-left:4px;margin-right:4px;margin-bottom:4px;padding:5px}
div.ms-rte-border{border-width:2px;padding:4px}
.splash-image img{max-width:750px}
* html .article .captioned-image{width:200px}
