.ms-surveyHBar{font-size:2px;background-color:#3966bf;border:solid;border-width:5px;border-color:#3966bf}
.ms-surveyHBarB{font-size:2px;background-color:#ccc;border:solid;border-width:1px;border-color:#ccc}
.ms-surveyHBarLabel{font-size:8pt;font-family:tahoma,sans-serif;color:#7f7f7f;text-decoration:none;height:3.75pt;margin:0;padding:0;border:0;background-color:white}
.ms-surveyVBar{font-size:2px;background-color:#3966bf}
.ms-surveyVBarB{font-size:2px;background-color:#ccc;vertical-align:bottom}
.ms-surveyVBarBI{font-size:2px;background-color:#3966bf;vertical-align:top}
.ms-surveyVBarS{font-size:2px}
.ms-surveyVBarTC{text-align:center}
.ms-surveyHR{color:#ccc;height:1px}
.ms-summarystandardbody{margin-left:0;margin-top:0;margin-right:6px}
